.header__wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 1020px) {
  .header__wrapper {
    height: 80px;
  }
}

.header__logo-link {
  z-index: 4;
}

.header__logo {
  max-width: 90px;
  max-height: 90px;
  margin: 5px 0;
  border-radius: 90px;
  z-index: 4;
}

@media (max-width: 1020px) {
  .header__logo {
    max-width: 70px;
    max-height: 70px;
  }
}

.header__links-wrapper {
  font-style: italic;
  font-weight: normal;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  z-index: 4;
}

@media (max-width: 767px) {
  .header__links-wrapper {
    font-size: calc(16px + 0 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  .header__links-wrapper {
    font-size: calc(16px + 0 * (100vw / 1440));
  }
}

@media (max-width: 1100px) {
  .header__links-wrapper {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1440));
  }
}

@media (max-width: 1020px) {
  .header__links-wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: -100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 2;
  }
  .header__links-wrapper.active-menu {
    z-index: 2;
    top: 80px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 4;
  padding: 0;
  margin: 0;
  color: #ffd600;
  list-style-type: none;
}

.header__menu > li:hover .header__sub-menu {
  display: block;
}

@media (max-width: 1020px) {
  .header__menu {
    background-color: #323237;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header__menu > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
    width: 100%;
  }
}

.header__menu-link {
  z-index: 4;
  color: #ffd600;
  display: inline-block;
  text-decoration: none;
  padding: 28px 12px;
  margin: 0 5px;
}

.header__menu-link_select::after {
  content: url("../../assets/StickerBot/img/rect1.png");
  margin: 0 0 0 10px;
}

.header__menu-link:hover {
  background-color: #323237;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .header__menu-link {
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  .header__menu-link:last-child {
    border: none;
  }
  .header__menu-link:hover {
    background-color: black;
    border-radius: 0px;
  }
}

.header__menu-link_select {
  border-bottom: 1px solid black;
}

.header__menu-link_select:hover::after {
  content: url("../../assets/StickerBot/img/rectW.png");
  margin: 0 0 0 10px;
}

@media (max-width: 1020px) {
  .header__menu-link_select::after {
    content: "";
  }
  .header__menu-link_select:hover {
    background-color: #323237;
    color: #ffd600;
  }
  .header__menu-link_select:hover::after {
    content: "";
  }
}

.header__sub-menu {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #323237;
  padding: 0;
  z-index: 4;
  margin: 0 0 0 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.header__sub-menu > li:last-child .header__sub-menu-link {
  border-bottom: none;
}

@media (max-width: 1020px) {
  .header__sub-menu {
    display: block;
    background-color: #47474e;
    position: relative;
    border-radius: 0;
    margin: 0;
    border: none;
  }
}

.header__sub-menu-link {
  z-index: 4;
  color: #ffd600;
  text-decoration: none;
  display: block;
  padding: 15px 300px;
  border-bottom: 1px solid black;
}

.header__sub-menu-link:hover {
  background-color: rgba(0, 0, 0, 0.38);
  color: white;
}

@media (max-width: 1020px) {
  .header__sub-menu-link {
    color: white;
    padding: 10px;
  }
  .header__sub-menu-link:hover {
    background-color: black;
  }
}

.header__button {
  display: inline-block;
  width: 120px;
  max-height: 50px;
  background: #ffd600;
  border-radius: 30px;
  border: 1px solid #ffd600;
  font-style: italic;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  z-index: 4;
  color: black;
  text-transform: uppercase;
  margin: 0 15px 0 0;
  padding: 15px 0;
  text-decoration: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (max-width: 1110px) {
  .header__button {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1440));
    width: 100px;
  }
}

.header__button:hover {
  background-color: #323237;
  cursor: pointer;
  color: #ffd600;
}

.header__burger {
  display: none;
}

@media (max-width: 1020px) {
  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    margin: 0 5% 0 auto;
    background-color: #323237;
    border: 10px solid #323237;
    border-radius: 5px;
    z-index: 4;
    cursor: pointer;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #ffd600;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 11px;
    background-color: #ffd600;
    left: 0;
    border-bottom: 0.5px solid #ffd600;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
    border-bottom: 0.5px solid #ffd600;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
    border-bottom: 0.5px solid #ffd600;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active-menu::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.active-menu::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 11px;
  }
  .header__burger.active-menu span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
