<nav class="header__wrapper">
  <a routerLink="" class="header__logo-link"><img class="header__logo" [src]="logo" alt="logo"></a>

  <div class="header__links-wrapper">
    <ul class="header__menu">
      <li><a routerLink="" class="header__menu-link">Главная</a></li>
      <li><a routerLink="stickers" class="header__menu-link header__menu-link_select">Стикеры</a>
        <ul class="header__sub-menu">
          <li><a routerLink="stickers" class="header__sub-menu-link">Все стикеры</a></li>
          <li><a routerLink="packs" id="stickerPacks" class="header__sub-menu-link">Стикерпаки</a></li>
        </ul>
      </li>
      <li><a routerLink="profile" class="header__menu-link">Профиль</a></li>
      <li><a routerLink="shop" class="header__menu-link">Магазин</a></li>
      <li><a routerLink="auction" class="header__menu-link">Аукцион</a></li>
      <li><a routerLink="top" class="header__menu-link">Топ коллекционеров</a></li>
    </ul>
  </div>

  <div class="header__burger">
    <span></span>
  </div>
  <a routerLink="auth" class="header__button">Вход</a>
</nav>
