<nav class="header__wrapper">
  <a href="index.html" class="header__logo-link"><img class="header__logo" [src]="logo" alt="logo"></a>

  <div class="header__links-wrapper">
    <ul class="header__menu">
      <li><a href="index.html" class="header__menu-link">Главная</a></li>
      <li><a href="#" class="header__menu-link header__menu-link_select">Стикеры</a>
        <ul class="header__sub-menu">
          <li><a href="allStickers.html" class="header__sub-menu-link">Все стикеры</a></li>
          <li><a id="stickerPacks" href="stickerPacks.html" class="header__sub-menu-link">Стикерпаки</a></li>
        </ul>
      </li>
      <li><a href="profile.html" class="header__menu-link">Профиль</a></li>
      <li><a href="shop.html" class="header__menu-link">Магазин</a></li>
      <li><a href="auction.html" class="header__menu-link">Аукцион</a></li>
      <li><a href="top.html" class="header__menu-link">Топ коллекционеров</a></li>
    </ul>
  </div>

  <div class="header__burger">
    <span></span>
  </div>
  <a href="auth.html" class="header__button">Вход</a>
</nav>
