.footer__wrapper {
  max-width: 1200px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.footer__text {
  font-style: italic;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: #ffd600;
  margin-left: 1.5em;
}

@media (max-width: 767px) {
  .footer__text {
    font-size: calc(8px + 10.2 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  .footer__text {
    font-size: calc(8px + 6 * (100vw / 1440));
  }
}

.footer__link {
  text-decoration: none;
  color: #ffd600;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.1em;
  display: inline-block;
  margin: 0 20px 0 0;
}

@media (max-width: 767px) {
  .footer__link {
    font-size: calc(8px + 10.2 * ((100vw - 320px) / 1440));
  }
}

@media (min-width: 767px) {
  .footer__link {
    font-size: calc(8px + 6 * (100vw / 1440));
  }
}

.footer__link:hover {
  text-decoration: underline;
}
