<div class="stickers-bg">
  <div class="page-title">
    <h2 class="page-title__text">Профиль</h2>
  </div>

  <div class="sickers-page">
    <nav class="left-nav">
      <ul class="left-nav__menu">
        <li><a routerLink="open" class="left-nav__link">Открыть пак</a></li>
        <li><a routerLink="collection" class="left-nav__link">Коллекция</a></li>
        <li><a routerLink="combine" class="left-nav__link">Объединение стикеров</a></li>
        <li><a routerLink="invite" class="left-nav__link">Пригласить друга</a></li>
        <li><a routerLink="settings" class="left-nav__link">Настройки</a></li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
